/* .nav {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
} */

.home {
    color: white;
    padding-left: 20px;
}

.detail {
    color: white;
    padding-left: 20px;
}